body {

	width: 100%;

	margin: 0 auto;

	font-family: gothic;

	font-size: 14px;

	color: #000000;

	height: auto;

}

html {

	margin: 0;

	padding: 0;

	float: none;

	display: block;

	height: 100%;

}

input[type="text"],input[type="email"],input[type="password"] {

	background-color: transparent;

	width: 254px;

	height:25px;

	font-size: 14px;

	color: #313131;

	font-family: gothic;

	font-size: 13px;

	border: 1px solid #a8a8a8;

	padding-left: 5px;

}

select{

	background-color: transparent;

	   width: 262px;

	height:25px;

	font-size: 14px;

	color: #313131;

	font-family: gothic;

	font-size: 13px;

	border: 1px solid #a8a8a8;

	padding-left: 5px;



}

textarea {

	background-color: transparent;

	border: medium none	height: 110px;

	padding: 5px;

	width: 249px;

	resize: none;

	font-weight: normal;

	color: #9A9785;

	font-family: gothic;

	font-size: 12px;

	border: 1px solid #a8a8a8;

}

input[type="submit"] {

	background:url('../images/bg_send.png') no-repeat;

	border: medium none;

    color: #ffffff;

    cursor: pointer;

    font-family: gothic;

    font-size: 13px;

    height: 29px;

    margin-left: 90px;

    text-align: center;

    text-transform: uppercase;

	width: 73px;

}

p, ul, a, span {

	font-family: gothic;

	font-size: 14px;

}

p {

	line-height: 22px;

}

span {

	height: auto;

}

ul {

	margin: 0;

	padding: 0;

}

a {

	text-decoration: none;

	color: #c20002;

}

a:hover {

	text-decoration: none;

	color: #313131;

}

table {

	border-spacing: 0;

	border-collapse:collapse;

}

table td {

	vertical-align: top;

	font-family: gothic;

}



ul li {

	float: left;

	list-style: none;

	padding: 5px 10px;

}
ul li:first-child {

	float: left;

	list-style: none;

	padding: 5px 10px 5px 0;

}

h1, h2, h3, h4, h5, h6 {

	font-family: gothic;

	margin: 0;

	padding: 0;

	font-weight: bold;

	

	

}

h1,h2,h3 {

	color: #197cc0;

	font-size: 18px;

	line-height: 18px;

	text-transform: none;

	background: url('../images/bg_h1.png') repeat-x bottom;

	padding-bottom: 15px;

}

h4{

	color: #ffffff;

	font-size: 18px;

	line-height: 18px;

	background: url('../images/bg_h4.png') repeat-x bottom;

	max-width: 450px;

	padding-bottom: 10px;

}

h5, h6{

	color: #c20002;

	font-size: 18px;

	line-height: 18px;

	background: none;

	padding-bottom: 10px;

} 

img {

	border: 0;

	outline: none;

}

.clr {

	clear: both;

	height: 0;

}

.clr10 {

	clear: both;

	height: 10px;

}

.clr15 {

	clear: both;

	height: 15px;

}

.clr16 {

	clear: both;

	height: 16px;

}

.clr17 {

	clear: both;

	height: 17px;

}

.clr18 {

	clear: both;

	height: 18px;

}

.clr19 {

	clear: both;

	height: 19px;

}

.clr20 {

	clear: both;

	height: 20px;

}

.clr25 {

	clear: both;

	height: 25px;

}

.clr30 {

	clear: both;

	height: 30px;

}

.clr40 {

	clear: both;

	height: 40px;

}

.clr45 {

	clear: both;

	height: 45px;

}

.clr50 {

	clear: both;

	height: 50px;

}

.clr60 {

	clear: both;

	height: 60px;

}

.clr70 {

	clear: both;

	height: 70px;

}

.clr80 {

	clear: both;

	height: 80px;

}

.clr90 {

	clear: both;

	height: 90px;

}

.clr100 {

	clear: both;

	height: 100px;

}

.recaptchatable #recaptcha_response_field{

	height: 20px !important;

}

#userForm tr.rsform-block > td{

	padding:5px;

	border: none;

}



#xmap {

    font-family: Bebas Neue;

	float: left;

	width: 100%;

	padding: 0;

	margin: 20px 0;

}

#xmap > h2 {

	background:none;

 	color: #242d6c;

    font-size: 20px;

    padding-top: 25px;

}

#xmap ul {

    list-style: none outside none;

}



#xmap > ul > li  a{

	font-size: 12px;

}



#xmap > ul > li {

    font-size: 20px;

    padding: 10px 0;

}

#xmap > ul > li > ul > li ,#xmap > ul > li > ul > li >ul >li, #xmap > ul > li > ul > li >ul >li >ul >li   {

    background: url("../images/Sitemap.png") no-repeat  left top 19px ;

    padding-left: 35px;

    padding-top: 10px;

}

#xmap > ul > li a {

    color: #565656;

	text-transform: uppercase;

}

#xmap ul li a:hover {

    color: #e4212b;

}



























