<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>SEAFORREST</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="css/ivan.css"/>
</head>

<body>
<div id="wrapper-top-out">
	<div id="wrapper-top-in">
		<div id="top">
			<div id="top-left">top-left</div>
			<div id="top-right">top-right</div>
		</div>
		<div class="clr"> </div>
	</div>
</div>

<div id="wrapper-bottom-out">
		<div id="menu">menu</div>
			<div class="clr"> </div>
		<div id="banner">banner</div>
</div>
		
<div id="wrapper-footer-out">
	<div id="wrapper-footer-in">
			<div class="clr"> </div>
		
		<div id="content">content</div>
		
		<div id="footer"> footer</div>
		
		<div class="clr"> </div>
	</div>
</div>
</body>
</html>