<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="basic"
		label="Configuration"
		description=""
	>
		<field
			name="show_image"
			type="radio"
			label="Show image"
			description="Show image"
			default="1"
		>
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_easypost"
			section="component"
		/>
	</fieldset>
</config>